{%extends 'humanresource.html'%}
{%block hr%}
<div class="container" style="width: 40%;margin-top: 5%;">
<form  method="post">
{% csrf_token %}
<div class="row">
    <div class="col">
            <input type="radio" name="opt" id="opt1" value="1" class="form-option" checked>
            <label for="opt1">Daily Time Record</label>
    </div>
    <div class="col">
            <input type="radio" name="opt" id="opt2" value="2" class="form-option">
            <label for="opt2">Late/Undertime Report</label>
    </div>
</div>


<hr>
<label for="">Department Number</label>
<input type="text" class="form-control" value="{{dpt.id}}" disabled>
<label for="">Department</label>
<input type="text" class="form-control" value="{{dpt.department}}" disabled>
<label for="">Employee Type</label>
<select class="form-select" name="emptype">
    <option value="JO"> JOB ORDER</option>
    <option value="CASUAL"> CASUAL</option>
    <option value="REGULAR"> REGULAR</option>
</select>
<hr>
<label for="" name="emptxt">Start Date</label>
<input type="date" name="startdate" id="" class="form-control">
<label for="" name="emptxt">End Date</label>
<input type="date" name="enddate" id="" class="form-control">
<hr>
<button type="submit" class="btn btn-primary">Generate</button>
</form>

</div>
<style>
    #opt1, #opt2, #opt3, label{padding: 3px;cursor: pointer;}
</style>
{%endblock%}