
<style>
    *{font-size: 11;font-family: 'arial';}
    #c, #c tr,#c td, #c th{border: 1px solid;text-align: center;font-size: 11;}
</style>
{%for i in emp%}
<p style="text-align: center;margin: 0;">CSC FORM No. 48</p>
<p style="text-align: center;margin: 0;font-family: 'Arial';font-size:large;">DAILY TIME RECORD</p>
<br>
<h3 style="text-align: center;margin: 0;padding: 0;font-family: 'Arial';font-size:medium">
     {{i.emp_info.firstname}} {{i.emp_info.middlename}} {{i.emp_info.lastname}} {%if i.emp_info.extname%}{{i.emp_info.extname}}{%else%} {%endif%}</h3>
<p style="text-align: center;margin: 0;padding: 0;border-top: 1px solid;">(Name)</p>
<table style="width: 100%;">
    <tr>
        <td>For the Month of  :</td>
        <td style="text-align: right;font-weight: bolder;">  {{my}}</td>
    </tr>
    <!-- <tr>
        <td>Official hours for (REGULAR Days)</td>
        <td> : __________________________________</td>
    </tr>
    <tr>
        <td>(Saturdays)</td>
        <td> : __________________________________</td>
    </tr> -->
    
</table>
<table style="width: 100%;border: 1px solid ;border-collapse: collapse;" id="c">
    <tr>
        <td colspan="3">AM</td>
        <td colspan="2">PM</td>
        <td colspan="2">Undertime</td>
    </tr>
        <tr>
        <td></td>
        <td >Arrival</td>
        <td >Departure</td>
        <td >Arrival</td>
        <td >Departure</td>
        <td> Hours</td>
        <td >Minutes</td>
    </tr>
{%for row in i.dtr_rows%}

<tr>
    <td>{{row.i}}</td>
    <td>{{row.cin|time:"h:i"}}</td>
    <td>{{row.bout|time:"h:i"}}</td>
    <td>{{row.bin|time:"h:i"}}</td>
    <td>{{row.cout|time:"h:i"}}</td>
    <td></td>
    <td style="text-align: left;font-size: smaller;">{{row.wday}}</td>
</tr>
{%endfor%}
</table>
<p style="margin-top: 0;">I CERTIFY on my behalf that the above entries are true and correct report of hours of work performance, record of which was made
    daily at the time of arrival at and departure from Office.
</p>
<br>
<div style="width:100%; border-top: 1px solid;text-align: center;">(Signature)</div>
<br>
<p>Certified as to the prescribed office hours</p>
<br>

<h6 style="margin: 0;text-align: center;"></h6>
<div style="width:100%; border-top: 1px solid;text-align: center;margin-top: 0;">In Charge <br><br><br>
</div>
{%endfor%}
