{%extends 'employee/dtr.html'%}
{%block dtr%}
<div class="container" style="width: 40%;margin-top: 5%;">
<form  method="post">
{% csrf_token %}

<input type="radio" name="opt" id="op1" value="1" class="form-option" Option=1>
<label for="op1">Daily Time Record</label><br>
<input type="radio" name="opt" id="op2" value="2" class="form-option">
<label for="op2">Punch State Report</label><br>
<input type="radio" name="opt" id="op3" value="3" class="form-option">
<label for="op3">Late/Undertime Report</label>
<hr>
<label for="">Department Number</label>
<input type="text" class="form-control" value="{{data.id}}" disabled>
<label for="">Department</label>
<input type="text" class="form-control" value="{{data.department}}" disabled>
<hr>
<label for="" name="emptxt">Start Date</label>
<input type="date" name="startdate" id="" class="form-control">
<label for="" name="emptxt">End Date</label>
<input type="date" name="enddate" id="" class="form-control">
<hr>
<button type="submit" class="btn btn-primary">Generate</button>
</form>

</div>
<style>
    #opt1, #opt2, #opt3, label{padding: 3px;cursor: pointer;}
</style>
{%endblock%}