{%extends 'employee/dtr.html'%}
{%block dtr%}
<table class="table table-bordered table-hover table-sm">
<thead style="text-align: center;">
    <th>OFFICE</th>
    <th>DESCRIPTION</th>
    <th>ACTIONS</th>
</thead>
<tbody>
    {%for i in data%}
    <tr>
        <td>{{i.department}}</td>
        <td>{{i.description}}</td>
        <td style="text-align: center;"><a href="{%url 'department_report_filter' pk=i.id%}" class="btn btn-outline-success btn-sm"><i class="fas fa-regular fa-book"></i></a></td>

    </tr>
    {%endfor%}
</tbody>
</table>
{%endblock%}